.example-spacer {
  flex: 1 1 auto;
}

img {
  max-width: 50px;
}

.username {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.is-active {
  text-decoration: underline;
}
