.body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login {
  width: 100%;
  max-width: 330px;
  text-align: center;
}

img {
  width: 50%;
  padding: 10%;
}

.ancho {
  width: 80%;
}

.spinner {
  margin: 50% auto;
}
